body{
    background: black;
}
img{
    border: 5px solid rgb(224, 15, 15);
    width: 100%;
}
#page{
    color: white;
    margin: 100px 240px;
    text-align: center;
    width: 50%;
}

    h1 {
        text-transform: uppercase;
        font-size: 3rem;
      }